repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: "^.*drawio|.*.svg$"
  - id: check-yaml
    exclude:
      "mkdocs.yml"
  - id: check-added-large-files
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.1.9
  hooks:
    # Run the linter.
    - id: ruff
    # Run the formatter.
    - id: ruff-format
